#contact p {
    margin: 7px 32px;
}

#contact p span.color {
    color: var(--text-bold-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.table-contact {
    width: 100%;
    border-collapse: collapse;
}

.table-contact tr {
    border-bottom: 1px solid #ccc;
}

.table-contact tr:first-child {
    border-top: 1px solid #ccc;
}

.table-contact th {
    width: 300px;
    padding: 10px;
}

.table-contact td {
    width: calc(100% - 300px);
    padding: 15px 0;
    height: 20px;
}

@media screen and (max-width: 768px) {

    .table-contact th {
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .table-contact td {
        width: calc(100% - 200px);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 435px) {

    .table-contact th {
        width: 30vw;
    }

    .table-contact td {
        width: calc(100% - 30vw);
    }
}

.table-contact td:has(textarea) {
    padding: 18px 60px 18px 0;
}

.table-contact td input {
    width: 50%;
}

.table-contact td textarea {
    width: 100%;
    display: block;
}

@media screen and (max-width: 768px) {

    .table-contact td:has(textarea) {
        padding: 13px 0 13px 0;
    }

    .table-contact td input {
        width: calc(100% - 20px);

    }

    .table-contact td textarea {
        width: calc(100% - 20px);
    }
}


@media screen and (max-width: 435px) {
    .table-contact td input {
        width: calc(100% - 5px);

    }

    .table-contact td textarea {
        width: calc(100% - 5px);
    }
}

.btn-submit {
    padding: 3px 7px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
}

.btn-submit:hover {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
}

/* --- confirm page css --- */

#confirm h2,
#finish h2 {
    margin-bottom: 20px;
}

#finish p {
    margin: 7px 32px;
}