:root {
    --background-color: #111;

    --gray-color: #444;
    --dark-color: #333;

    --red-color: #971420;
    --text-bold-color: #FF0000;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: var(--red-color);
}

img {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}

body {
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    line-height: 2;
    background-color: var(--background-color);
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
        font-size: 13px;
    }
}

.container {
    padding: 5vw 50px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 5vw;
    }
}

.m-1800 {
    max-width: 1800px;
    margin: 0 auto;
}

.m-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

#btn-to-top {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 98;
}

#btn-to-top.btn-to-top {
    display: none;
}

#btn-to-top i {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

main h2 {
    background-color: var(--red-color);
    color: #fff;
    font-size: 20px;
    padding: 7px 32px;
    border-radius: 30px;
}

main h3 {
    font-size: 18px;
    padding: 7px 32px;
    background: var(--gray-color);
    border-radius: 30px;
    margin: 20px 0;
}

.cursor {
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0.8;
}