.plan-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan-container .menu-content {
    width: 250px;
    padding-left: 30px;
}

#plan-content {
    width: calc(100% - 250px);
}

@media screen and (max-width: 992px) {
    .plan-container {
        display: flex;
        flex-direction: column;
    }

    .plan-container .menu-content {
        width: 100%;
        padding-left: 0;
    }

    #plan-content {
        width: 100%;
    }
}

#plan-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0 32px 32px;
}

#plan-content p {
    margin: 0 32px 32px;
}

#plan-content dl dt {
    width: calc(50% - 105px - 10px);
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

#plan-content dl dd {
    width: 105px;
    margin-right: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#plan-content dl dt:nth-of-type(1),
#plan-content dl dd:nth-of-type(1),
#plan-content dl dt:nth-of-type(2),
#plan-content dl dd:nth-of-type(2) {
    border-top: 1px solid #ccc;
}

@media screen and (max-width: 992px) {

    #plan-content dl dt {
        width: calc(100% - 105px);
    }

    #plan-content dl dd {
        margin-right: 0;
    }

    #plan-content dl dt:nth-of-type(2),
    #plan-content dl dd:nth-of-type(2) {
        border-top: none;
    }
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-content .menu-group {
    border: 1px solid var(--gray-color);
    padding: 10px;
    border-radius: 5px;
}

.menu-content h3 {
    background-color: var(--red-color);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 0;
    margin: 0;
}

.menu-content ul {
    list-style: none;
}

.menu-content ul li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid var(--gray-color);
}

.menu-content i {
    padding-right: 10px;
}