.top-page {
    display: flex;
    flex-direction: column;
    gap: 80px;
    overflow: hidden;
}

.para-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#template h3 {
    margin: 0;
}

main a {
    text-decoration: underline;
}

main p {
    margin: 0 32px;
}

main p strong {
    color: var(--text-bold-color);
}

#notice .notice-list {
    padding: 0 32px;
}

.notice-list td.title {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice-list td.title span.tag {
    width: calc(50% - 20px);
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1.8;
    border-radius: 2px;
    margin: 0 20px;
}

span.tag.tag-1 {
    background-color: #999;
}

span.tag.tag-2 {
    background-color: var(--red-color);
}

span.tag.tag-3 {
    background-color: #006ACD;
}

@media screen and (max-width: 768px) {
    .notice-list td.title {
        width: 100px;
    }

    span.tag {
        display: none;
    }
}

.constant-simple-slider img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: auto;
}